@keyframes letter {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.word .letter {
  color: #ffffff;
  animation: letter 0.1s;
  display: inline-block;
}
