/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./components/AnimateWord.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
@keyframes AnimateWord_letter__s56dA {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.AnimateWord_word__PmaCF .AnimateWord_letter__s56dA {
  color: #ffffff;
  animation: AnimateWord_letter__s56dA 0.1s;
  display: inline-block;
}

